version: '3.8'

services:
  app:
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      SERVER_PORT: 8080
      DB_CONNECTION_STRING: postgres://postgres:postgres@db:5432/postgres?sslmode=disable
    depends_on:
      - db
      - migrate
    networks:
      - app-network
    restart: always

  migrate:
    image: migrate/migrate
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - type: bind
        source: ./migrations
        target: /migrations
    entrypoint: >
      /bin/sh -c "
        migrate -path=/migrations -database postgres://postgres:postgres@db:5432/postgres?sslmode=disable up
      "
    networks:
      - app-network
    restart: "no"

  db:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${DB_USER}", "-d", "${DB_NAME}" ]
      interval: 30s
      retries: 5
      timeout: 10s
      start_period: 10s

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data:
    driver: local
